<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ユーザ登録が完了しました。</h1>
    <p>以下の情報で登録されました。</p>
    <p>ユーザ名: <%= @user.username %></p>
    <p>メールアドレス: <%= @user.email %></p>
  </body>
</html>
